@model ASP.NETCoreMVCChapter5Razor.Models.Product
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Изучение Razor</title>
</head>
<body>
    Контент будет тут.
</body>
</html>